html {
    background: yellow;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 30rem;
    width: 30rem;
    border: 20px solid #dddddd;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock {
    height: 100%;
    width: 100%;
    position: relative;
    transform: translateY(-3px);
}

.hand {
    background: navy;
    height: 5px;
    width: 50%;
    top: 50%;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: rotate 50ms;
    transition-timing-function: cubic-bezier(0.76, 0.49, 0.45, 1.29);
}

.min-hand {
    width: 40%;
    background: #04c6f3;
    left: 10%;
}

.hour-hand {
    width: 30%;
    background: red;
    left: 20%;
}